		<!-- Main Banner-->
		<div class="main-banner banner text-center" *ngIf="!searchListService.showmoreinfo">
			<div class="container">    
				<h1>Deal or Advertise   <span class="segment-heading">    anything online </span> with IdukkiDeals</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
				<a [routerLink]="['/postad']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Post Deal</a>
			</div>
		</div>
		<!-- carusal slideer -->
		<div class="flexslider" [class.active]="searchListService.showmoreinfo">
		  <ul class="slides">
			<li>
			  <img src="../../../assets/images/b1new.jpg" />
			</li>
			<li>
			  <img src="../../../assets/images/b2new.jpg" />
			</li>
			<li>
			  <img src="../../../assets/images/b3new.jpg" />
			</li>
			<li>
			  <img src="../../../assets/images/b4new.jpg" />
			</li>
		  </ul>
		</div>
		<!-- Individual information -->
		<div *ngIf="searchListService.showmoreinfo">
		   <moreinfo-component [moreInfoData]="viewOfferDetailsData" (notify)='onNotify($event)' ></moreinfo-component>
		</div>
		<!-- content-starts-here -->
		<div class="content" *ngIf="!searchListService.showmoreinfo">
			<div class="categories">
				<div class="container">
					<div class="col-md-3 focus-grid" (click)="categoryClick('Shops');">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-building"></i></div>
									<h4 class="clrchg">Shops</h4>
								</div>
							</div>
					</div>
					<div class="col-md-3 focus-grid">
						<a href="categories.html#parentVerticalTab2">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-bed"></i></div>
									<h4 class="clrchg">Hotels</h4>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 focus-grid">
						<a href="categories.html#parentVerticalTab3">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-car"></i></div>
									<h4 class="clrchg">Cars</h4>
								</div>
							</div>
						</a>
					</div>	
					<div class="col-md-3 focus-grid">
						<a href="categories.html#parentVerticalTab4">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-motorcycle"></i></div>
									<h4 class="clrchg">Bikes</h4>
								</div>
							</div>
						</a>
					</div>	
					<!--<div class="col-md-3 focus-grid">
						<a href="categories.html#parentVerticalTab5">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-map-signs"></i></div>
									<h4 class="clrchg">Tourism</h4>
								</div>
							</div>
						</a>
					</div>-->
					<div class="col-md-3 focus-grid">
						<a href="categories.html#parentVerticalTab6">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-paw"></i></div>
									<h4 class="clrchg">Pets</h4>
								</div>
							</div>
						</a>
					</div>	
					<!--<div class="col-md-3 focus-grid">
						<a href="categories.html#parentVerticalTab8">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-newspaper-o"></i></div>
									<h4 class="clrchg">Local News</h4>
								</div>
							</div>
						</a>
					</div>	
					<div class="col-md-3 focus-grid">
						<a href="categories.html#parentVerticalTab9">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-gamepad"></i></div>
									<h4 class="clrchg">Others</h4>
								</div>
							</div>
						</a>
					</div>	
					<div class="col-md-3 focus-grid">
						<a href="categories.html#parentVerticalTab10">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-shield"></i></div>
									<h4 class="clrchg">Services</h4>
								</div>
							</div>
						</a>
					</div>-->					
					<div class="col-md-3 focus-grid">
						<a href="categories.html#parentVerticalTab12">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-home"></i></div>
									<h4 class="clrchg">Real Estate</h4>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 focus-grid">
						<a href="categories.html#parentVerticalTab11">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-at"></i></div>
									<h4 class="clrchg">Jobs</h4>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 focus-grid">
						<a href="categories.html#parentVerticalTab7">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-shield"></i></div>
									<h4 class="clrchg">Services</h4>
								</div>
							</div>
						</a>
					</div>	
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="trending-ads">
				<div class="container">
				<!-- slider -->
				<div class="trend-ads">
					<h2 (click)="ShowMoreInformation('ads');">Trending Deals</h2>
							<ul id="flexiselDemo3">
								<li *ngFor="let adslist of trendingAdsData">
								    <div class="col-md-3 biseller-column" (click)="ShowMoreInformation(ads);" *ngFor="let ads of adslist">
										<img src={{ads.image}}/>
										<span class="price">&#36; {{ads.price}}</span>
										<div class="ad-info">
											<h5>{{ads.description}}</h5>
											<span>{{ads.time}}</span>
										</div>
									</div>
										<!--<div class="col-md-3 biseller-column">
										<a href="single.html">
											<img src="../../../assets/images/p2.jpg"/>
											<span class="price">&#36; 399</span>
										</a> 
										<div class="ad-info">
											<h5>Lorem Ipsum is simply dummy</h5>
											<span>3 hour ago</span>
										</div>
									</div>
									<div class="col-md-3 biseller-column">
										<a href="single.html">
											<img src="../../../assets/images/p3.jpg"/>
											<span class="price">&#36; 199</span>
										</a> 
										<div class="ad-info">
											<h5>It is a long established fact that a reader</h5>
											<span>8 hour ago</span>
										</div>
									</div>
									<div class="col-md-3 biseller-column">
										<a href="single.html">
											<img src="../../../assets/images/p4.jpg"/>
											<span class="price">&#36; 159</span>
										</a> 
										<div class="ad-info">
											<h5>passage of Lorem Ipsum you need to be</h5>
											<span>19 hour ago</span>
										</div>
									</div>
								</li>
								<li>
									<div class="col-md-3 biseller-column">
										<a href="single.html">
											<img src="../../../assets/images/p5.jpg"/>
											<span class="price">&#36; 1599</span>
										</a> 
										<div class="ad-info">
											<h5>There are many variations of passages</h5>
											<span>1 hour ago</span>
										</div>
									</div>
									<div class="col-md-3 biseller-column">
										<a href="single.html">
											<img src="../../../assets/images/p6.jpg"/>
											<span class="price">&#36; 1099</span>
										</a> 
										<div class="ad-info">
											<h5>passage of Lorem Ipsum you need to be</h5>
											<span>1 day ago</span>
										</div>
									</div>
									<div class="col-md-3 biseller-column">
										<a href="single.html">
											<img src="../../../assets/images/p7.jpg"/>
											<span class="price">&#36; 109</span>
										</a> 
										<div class="ad-info">
											<h5>It is a long established fact that a reader</h5>
											<span>9 hour ago</span>
										</div>
									</div>
									<div class="col-md-3 biseller-column">
										<a href="single.html">
											<img src="../../../assets/images/p8.jpg"/>
											<span class="price">&#36; 189</span>
										</a> 
										<div class="ad-info">
											<h5>Lorem Ipsum is simply dummy</h5>
											<span>3 hour ago</span>
										</div>
									</div>
								</li>
								<li>
									<div class="col-md-3 biseller-column">
										<a href="single.html">
											<img src="../../../assets/images/p9.jpg"/>
											<span class="price">&#36; 2599</span>
										</a> 
										<div class="ad-info">
											<h5>Lorem Ipsum is simply dummy</h5>
											<span>3 hour ago</span>
										</div>
									</div>
									<div class="col-md-3 biseller-column">
										<a href="single.html">
											<img src="../../../assets/images/p10.jpg"/>
											<span class="price">&#36; 3999</span>
										</a> 
										<div class="ad-info">
											<h5>It is a long established fact that a reader</h5>
											<span>9 hour ago</span>
										</div>
									</div>
									<div class="col-md-3 biseller-column">
										<a href="single.html">
											<img src="../../../assets/images/p11.jpg"/>
											<span class="price">&#36; 2699</span>
										</a> 
										<div class="ad-info">
											<h5>passage of Lorem Ipsum you need to be</h5>
											<span>1 day ago</span>
										</div>
									</div>
									<div class="col-md-3 biseller-column">
										<a href="single.html">
											<img src="../../../assets/images/p12.jpg"/>
											<span class="price">&#36; 899</span>
										</a> 
										<div class="ad-info">
											<h5>There are many variations of passages</h5>
											<span>1 hour ago</span>
										</div>
									</div>-->
								</li>
						</ul>
					</div>   
			</div>
			<!-- //slider -->				
			</div>
