	<!-- Categories -->
	<!--Vertical Tab-->
	<div class="categories-section main-grid-border">
		<div class="container">
			<h2 class="head">Main Categories</h2>
			<div class="category-list">
				<div id="parentVerticalTab">
					<ul class="resp-tabs-list hor_1">
						<li>Shops</li>
						<li>Hotels</li>
						<li>Cars</li>
						<li>Bikes</li>
						<li>Pets</li>
						<li>Real Estate</li>
						<li>Jobs</li>
						<li>Services</li>
						<a href="#">All Ads</a>
					</ul>
					<div class="resp-tabs-container hor_1">
						<span class="active total" style="display:block;" data-toggle="modal" data-target="#myModal"><strong>All USA</strong> (Select your city to see local ads)</span>
						<div>
							<div class="category">
								<div class="category-img">
									<img src="../../assets/images/cat1.png" title="image" alt="" />
								</div>
								<div class="category-info">
									<h4>Shops</h4>
									<span>5,12,850 Ads</span>
									<a href="#">View all Ads</a>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="sub-categories">
								<ul>
									<li><a href="#">mobile phones</a></li>
									<li><a href="#">Tablets</a></li>
									<li><a href="#">Accessories</a></li>
									<div class="clearfix"></div>
								</ul>
							</div>
						</div>
						<div>
							<div class="category">
								<div class="category-img">
									<img src="../../assets/images/cat2.png" title="image" alt="" />
								</div>
								<div class="category-info">
									<h4>Hotels</h4>
									<span>2,01,850 Ads</span>
									<a href="#">View all Ads</a>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="sub-categories">
								<ul>
									<li><a href="#">Computers & accessories</a></li>
									<li><a href="#">Tv - video - audio</a></li>
									<li><a href="#">Cameras & accessories</a></li>
									<li><a href="#">Games & Entertainment</a></li>
									<li><a href="#">Fridge - AC - Washing Machine</a></li>
									<li><a href="#">Kitchen & Other Appliances</a></li>
									<div class="clearfix"></div>
								</ul>
							</div>
						</div>
						<div>
							<div class="category">
								<div class="category-img">
									<img src="../../assets/images/cat3.png" title="image" alt="" />
								</div>
								<div class="category-info">
									<h4>Cars</h4>
									<span>1,98,080 Ads</span>
									<a href="#">View all Ads</a>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="sub-categories">
								<ul>
									<li><a href="#">Commercial Vehicles</a></li>
									<li><a href="#">Other Vehicles</a></li>
									<li><a href="#">Spare Parts</a></li>
									<div class="clearfix"></div>
								</ul>
							</div>
						</div>
						<div>
							<div class="category">
								<div class="category-img">
									<img src="../../assets/images/cat4.png" title="image" alt="" />
								</div>
								<div class="category-info">
									<h4>Bikes</h4>
									<span>6,17,568 Ads</span>
									<a href="#">View all Ads</a>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="sub-categories">
								<ul>
									<li><a href="#">Motorcycles</a></li>
									<li><a href="#">Scooters</a></li>
									<li><a href="#">Bicycles</a></li>
									<li><a href="#">Spare Parts</a></li>
									<div class="clearfix"></div>
								</ul>
							</div>
						</div>
						<div>
							<div class="category">
								<div class="category-img">
									<img src="../../assets/images/cat6.png" title="image" alt="" />
								</div>
								<div class="category-info">
									<h4>Pets</h4>
									<span>1,77,816 Ads</span>
									<a href="#">View all Ads</a>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="sub-categories">
								<ul>
									<li><a href="#">Dogs</a></li>
									<li><a href="#">Aquariums</a></li>
									<li><a href="#">Pet Food & Accessories</a></li>
									<li><a href="#">Other Pets</a></li>
									<div class="clearfix"></div>
								</ul>
							</div>
						</div>
						<div>
							<div class="category">
								<div class="category-img">
									<img src="../../assets/images/cat12.png" title="image" alt="" />
								</div>
								<div class="category-info">
									<h4>Real Estate</h4>
									<span>98,156 Ads</span>
									<a href="#">View all Ads</a>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="sub-categories">
								<ul>
									<li><a href="#">Houses</a></li>
									<li><a href="#">Apartments</a></li>
									<li><a href="#">PG & Roommates</a></li>
									<li><a href="#">Land & Plots</a></li>
									<li><a href="#">Shops - Offices - Commercial Space</a></li>
									<li><a href="#">Vacation Rentals - Guest Houses</a></li>
									<div class="clearfix"></div>
								</ul>
							</div>
						</div>
						<div>
							<div class="category">
								<div class="category-img">
									<img src="../../assets/../../assets/images/cat11.png" title="image" alt="" />
								</div>
								<div class="category-info">
									<h4>Jobs</h4>
									<span>5,74,547 Ads</span>
									<a href="#">View all Ads</a>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="sub-categories">
								<ul>
									<li><a href="#">Customer Service</a></li>
									<li><a href="#">IT</a></li>
									<li><a href="#">Online</a></li>
									<li><a href="#">Marketing</a></li>
									<li><a href="#">Advertising & PR</a></li>
									<li><a href="#">Sales</a></li>
									<li><a href="#">Clerical & Administration</a></li>
									<li><a href="#">Human Resources</a></li>
									<li><a href="#">Education</a></li>
									<li><a href="#">Hotels & Tourism</a></li>
									<li><a href="#">Accounting & Finance</a></li>
									<li><a href="#">Manufacturing</a></li>
									<li><a href="#">Part - Time</a></li>
									<li><a href="#">Other Jobs</a></li>
									<div class="clearfix"></div>
								</ul>
							</div>
						</div>
						<div>
							<div class="category">
								<div class="category-img">
									<img src="../../assets/images/cat10.png" title="image" alt="" />
								</div>
								<div class="category-info">
									<h4>Services</h4>
									<span>7,58,867 Ads</span>
									<a href="#">View all Ads</a>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="sub-categories">
								<ul>
									<li><a href="#">Education & Classes</a></li>
									<li><a href="#">Web Development</a></li>
									<li><a href="#">Electronics & Computer Repair</a></li>
									<li><a href="#">Maids & Domestic Help</a></li>
									<li><a href="#">Health & Beauty</a></li>
									<li><a href="#">Movers & Packers</a></li>
									<li><a href="#">Drivers & Taxi</a></li>
									<li><a href="#">Event Services</a></li>
									<li><a href="#">Other Services</a></li>
									<div class="clearfix"></div>
								</ul>
							</div>
						</div>					
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Categories -->